/*------------------------------------------------------------------------------
    MAIN  STYLES    
------------------------------------------------------------------------------*/

.text-center {
    text-align: center;
}

.dropdown-button {
    margin-left: 0px;
}

.nav a {
    margin-left: 0px;
}

.nav strong {
    margin-left: 0px;
}

.btn,
.btn-large {
    color: white;
    background-color: #d1481a;
    border-radius: 10px;
    border: none;
    width: 100px;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 10px;
}

.btn {
    line-height: 25px;
}

.btn-large:hover,
.btn-large:focus,
.btn:hover,
.btn:focus {
    background-color: white;
    color: #d1481a;
}

#btn-status:hover,
#btn-status:focus {
    background-color: white;
}

#button-download {
    width: 100px;
    height: 20px;
    background-color: #d1481a;
    line-height: 10px;
}

#button-download:hover,
#button-download:focus {
    background-color: white;
    color: #800000;
}


#add {
    width: 200px;
}

#rate {
    width: 200px;
    text-decoration: none;
    background-color: #f2f2f2;
    box-shadow: none;
    font-size: 11px;
    color: #800000;
}

#rate:hover {
    background-color: white;
    color: #800000;
    font-size: 12px;
}


table {
    background-color: white;
    border-radius: 5px;
    margin-left: 0px;
}

#text {
    color: white;
}

.col-md-8,
.col-md-3,
.col-md-4,
.col-md-6 {
    padding-right: 0px;
}


.small-name a {
    color: #8B0000;

}

label {
    margin-left: 30px;
    font-weight: normal;
    color: black;
    font-size: 12px;
}

input[type="number"]:focus:not([readonly]) {
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
}

input[type="number"].valid,
input[type="number"]:focus.valid {
    border-bottom: 1px solid #8B0000;
    box-shadow: 0 1px 0 0 #8B0000;
}

#signature {
    font-family: 'Alex Brush', cursive;
    color: #8B0000;
}

h6 {
    color: black;
}

#vot {
    font-family: 'Just Another Hand', cursive;
    font-size: 22px;
}

#rf {
    font-family: 'Playball', cursive;
    font-size: 20px;
}

#gtb {
    font-family: 'Merienda One', cursive;
    font-size: 14px;
}


/*------------------------------------------------------------------------------
    DASHBOARD CARDS    
------------------------------------------------------------------------------*/

#title_card {
    background-color: white;
    border-style: outset;
    border-color: #909932;
    border-radius: 15px;
    vertical-align: middle;
    border-width: 3px;
    padding: 30px;
    margin-left: 15px;
    margin-right: 40px;
    width: 99%;

}

#title_card p {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 17px;
    margin-bottom: 0px;
}

#title_card h3,
h2 {
    color: #8B0000;
    font-size: 20px;
    margin: 5px;
}

#title_card h5 {
    color: white;
    font-size: 14px;
    margin: 5px;
}

#extra_card {
    background-color: white;
    border-style: outset;
    border-color: #800000;
    border-radius: 15px;
    vertical-align: middle;
    border-width: 3px;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

#extra_card p {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 17px;
    margin-bottom: 0px;
}

#extra_card h3 {
    color: #8B0000;
    font-size: 20px;
    margin: 10px;
}

#main_card {
    background-color: #f2f2f2;
    border-color: #800000;
    border-radius: 15px;
    vertical-align: middle;
    border-width: 3px;
    padding: 20px;
}

#main_card p {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 17px;
    margin-bottom: 0px;
}

#main_card h1 {
    color: #0e4e66;
    margin-top: 0px;
    margin-bottom: 20px;
}

#main_card h3,
h2 {
    color: #3f3f3f;
    font-size: 20px;
    margin: 5px;
}

#main_card h4 {
    color: black;
    margin: 5px;
}

#main_card h5 {
    color: white;
    font-size: 14px;
    margin: 5px;
}

#description_card {
    background-color: white;
    border-style: solid;
    border-color: #800000;
    border-radius: 5px;
    vertical-align: middle;
    border-width: 0px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
}

#description_card_mlb {
    background-color: white;
    border-style: solid;
    border-color: #800000;
    border-radius: 5px;
    vertical-align: middle;
    border-width: 0px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
}

#description_card_mlb th, td {
    font-size: 8px;
    min-width: 25px;
}


#description_card p {
    color: #81892d;
    font-size: 14px;
    font-weight: bold;
    margin-left: 0px;
    padding: 0px;
}

#description_card h3 {
    color: #8B0000;
    font-size: 20px;
    margin: 10px;
}

#description_card_mlb h3 {
    color: #8B0000;
    font-size: 20px;
    margin: 10px;
}


#desc_col {
    padding-right: 0px;
}

#description_card th,
tr {
    padding: 2px;
}

#description_card ol {
    margin: 8px;
}


#text_card h2 {
    margin-left: 0px;
}

#text_card li,
a {
    color: #d1481a;
    font-weight: bold;
    margin-left: 15px;
    padding: 3px;
    font-size: 14px;

}

#text_card li,
a:hover {
    text-decoration: none;
}

#linking {
    font-size: 14px;
}

#text_card a {
    margin: 0px;
    font-size: 14px;
}

#text_card a:hover {
    color: #23527c;
}


#algorithm {
    background-color: white;
    border-style: solid;
    border-color: #800000;
    border-radius: 5px;
    /*min-height: 260px;*/
    vertical-align: middle;
    border-width: 0px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
    /*min-height: 406px;*/
}

#algorithm p {
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    margin-left: 10px;
}

#pyplot {
    background-color: white;
    border-style: solid;
    border-color: #800000;
    border-radius: 5px;
    /*min-height: 260px;*/
    vertical-align: middle;
    border-width: 0px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
    /*min-height: 406px;*/
}

#pyplot h2 {
    color: #8B0000;
    font-size: 20px;
    margin: 10px;
}

#plot {
    height: 90%;
    width: 90%;
}

#repo_content {
    margin: 10px;
    padding-top: 0px;
    overflow: auto;
    height: 410px;
}


#repo_content li {
    background-color: #2b4056;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 1px 1px 10px;
    margin: 10px;
    margin-bottom: 10px;

}

#repo_content li:hover {
    background-color: #2b4056;

}

#repo_content a:hover {
    color: white;
    text-decoration: none;
}

#question {
    min-height: 220px
}

td {
    font-size: 11px;
}

#arrow {
    color: #115c77;
}



#course_card {
    padding: 5px 10px 5px 10px;
    border-left: 3px solid #d1481a;
    min-height: 340px;
    width: 270px
}

#course_card h3 {
    color: #737a28;
    text-transform: uppercase;
    font-size: 15px;
    
}

#course_card h4 {
    color: #3f3f3f;
    font-size: 14px;
}

#course_row {
    margin-bottom: 5px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

@media(max-width:1500px) {
    
#course_card h3 {
    font-size: 12px;
}    
 
#course_card h4 {
    font-size: 10px;
}    
    
    
    
}