/*----------------------------------------------
    COMMON  STYLES
------------------------------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 0;
    background-color: #e6ecf0;
    background-image: url('../../static/img/1.png');
    background-size: cover;
}


.wrapper {
    margin-top: 10px;
}


/*------------------------------------------------------------------------------
    TOP NAVBAR
------------------------------------------------------------------------------*/


.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 300;
    border: none;
    padding-left: 3%;
    padding-right: 3%;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 100px;
}

.navbar-brand {
    margin:0px;
    width: 200px;
    height: auto;
    text-align: left;
    padding: 5px;
    font-weight: 700;
    color: #1a2026;
    background: transparent;
    margin-top: -5px;
}

.pull-right {
    padding-bottom: 10px;
}

.logo-img {
    width:auto;
    height: 40px;
}

/* Colors --------------------------------------------------------*/

.navbar {
    background:  white;
    box-shadow: none;
    border: none;
}

.navbar .nav li,
.navbar .nav li a {
    color: #662b61;
}
.navbar-right>a:hover,
.navbar-right>a:focus {
    background: transparent;
    color: #8b8b8b;
}

.navbar-default .navbar-brand:hover
.navbar-default .navbar-brand:focus {
    color: #2f3a44;
}

 nav ul a:hover {
     color: #2f3a44;
 }

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:active,
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: transparent;
    color: black;
}

 .navbar-default .navbar-brand:hover {
    color: #e5ebef;
 }